<!-- <section id="ourProducts section hero__section" class="section">
  <div class="container container__products">
    <!-- <div class="container hero__container"></div> -->
    <h2 class="products__main-header">ПРО БАНК</h2>
    <ul class="products-block">
      <li class="products-block__item">
        <div class="products-card products-card--bg-pink">
          <h3 class="products-card__header--text--left products-card__item">
            Банк Львів – регіональний банк на Західній Україні
            для клієнтів ММСБ та фізичних осіб
          </h3>
          <ul>
            <li><p class="products-card__description products-card__item">35.000 клієнтів</p></li>
            <li><p class="products-card__description products-card__item">35 років на ринку</p></li>
            <li><p class="products-card__description products-card__item">19 відділеннь</p></li>
            <li><p class="products-card__description products-card__item">420 працівників</p></li>
          </ul>
        </div>
      </li>
      <li class="products-block__item">
        <div class="products-card products-card--bg-pink">
          <h3 class="products-card__header--text--right products-card__item">Акціонери:</h3>
          <ul>
            <li>
              <p class="products-card__description products-card__item">
                48.55% - responsAbility, Швейцарія
              </p>
            </li>
            <li>
              <p class="products-card__description products-card__item">
                37.46% - M.Petursson, Ісландія
              </p>
            </li>
            <li>
              <p class="products-card__description products-card__item">
                13.94% - Nefco, Фінляндія
              </p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section> -->
