<section id="ourProducts" class="section">
  <div class="container container__products">
    <h2 class="products__main-header">ІНВЕСТОРИ БАНКУ</h2>
    <ul class="products-block">
      <li class="products-block__item">
        <div class="products-card products-card--bg-pink">
          <h3 class="products-card__header--text products-card__item">ШВЕЙЦАРСЬКИЙ АКЦІОНЕР</h3>
          <p class="products-card__description products-card__item">
            Швейцарський інвестиційний фонд<span>responsAbility</span>здійснює фінансування боргу та
            власного капіталу компаніям в країнах з перехідною економікою та країнах, що
            розвиваються. Його акціонери включають ряд авторитетних установ на швейцарському
            фінансовому ринку та його власних співробітників.
          </p>
        </div>
      </li>
      <li class="products-block__item">
        <div class="products-card products-card--bg-pink">
          <h3 class="products-card__header--text products-card__item">ІСЛАНДСЬКИЙ АКЦІОНЕР</h3>
          <p class="products-card__description products-card__item">
            Швейцарський інвестиційний фонд<span>responsAbility</span>здійснює фінансування боргу та
            власного капіталу компаніям в країнах з перехідною економікою та країнах, що
            розвиваються. Його акціонери включають ряд авторитетних установ на швейцарському
            фінансовому ринку та його власних співробітників.
          </p>
        </div>
      </li>
      <li class="products-block__item">
        <div class="products-card products-card--bg-pink">
          <h3 class="products-card__header--text products-card__item">ФІНСЬКИЙ АКЦІОНЕР</h3>
          <p class="products-card__description products-card__item">
            Швейцарський інвестиційний фонд<span>responsAbility</span>здійснює фінансування боргу та
            власного капіталу компаніям в країнах з перехідною економікою та країнах, що
            розвиваються. Його акціонери включають ряд авторитетних установ на швейцарському
            фінансовому ринку та його власних співробітників.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
