.development__section {
  // background-image: url(/images/sajt-holovna-dekstop-3.jpg);
  padding-top: 39px;
  padding-bottom: 97px;
  background: $cl-section;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 66px;
    padding-bottom: 140px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 139px;
  }
}

.development__title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  color: $cl-menu-bg;
  margin-bottom: 60px;

  @include tab {
    margin-bottom: 60px;
  }

  @include pc {
    font-size: 58px;
    margin-bottom: 80px;
  }
  &-description {
    margin-bottom: 15px;
    font-family: Titan One;
    font-size: 18px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    color: $cl-primary;

    @include pc {
      font-size: 30px;
    }
  }
}
.development-list__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.development-list {
  display: flex;
  justify-content: space-between;
}

.development-item__thumb1 {
  grid-area: 4 / 1 / 5 / 2;
}
.development-item__thumb2 {
  grid-area: 3 / 2 / 4 / 3;
}
.development-item__thumb3 {
  grid-area: 2 / 3 / 3 / 4;
}
.development-item__thumb4 {
  grid-area: 1 / 4 / 2 / 5;
}

.development-img__thumb {
  margin: 0px auto;
  background-image: url(/images/lion1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  // border: $cl-menu-bg solid 2px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.development-img__thumb2 {
  margin: 0px auto;
  background-image: url(/images/lion2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  // border: $cl-menu-bg solid 2px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.development-img__thumb3 {
  margin: 0px auto;
  background-image: url(/images/lion3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  // border: $cl-menu-bg solid 2px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
