.management__section {
  padding-top: 125px;
  background-color: $cl-section;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 130px;
  }

  @media screen and (max-width: 767px) {
    // background-image: url(../images/mobile/milk@1x.png);
    background-repeat: no-repeat;
    background-position: bottom 61px left;
    background-size: 100%;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      // background-image: url(../images/mobile/milk@2x.png);
    }
  }

  @include pc {
    // background-image: url(../images/pc/about-milk@1x.png);
    // background-image: url(../../images/gallery/management_p.png);

    background-repeat: no-repeat;
    background-position: bottom -65px left;
    background-size: 100%;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      // background-image: url(../images/pc/about-milk@2x.png);
    }
  }
}

.management__container {
  padding-left: 50px;
  padding-right: 50px;

  @include tab {
    padding-left: 39px;
    padding-right: 36px;
  }

  @include pc {
    padding-left: 112px;
    padding-right: 117px;
  }
}

.management__pre-title {
  margin-bottom: 15px;
  @include font-design(Titan One, normal, 400, 18px, 1.17);

  text-align: center;
  text-transform: uppercase;
  color: $cl-primary;

  @include tab {
    margin-bottom: 16px;
    @include font-design(Titan One, normal, 400, 26px, 1.15);
  }

  @include pc {
    margin-bottom: 15px;
    @include font-design(Titan One, normal, 400, 30px, 1.13);
  }
}

.management__title {
  margin: auto;
  margin-bottom: 26px;
  @include font-design(Titan One, normal, 400, 34px, 1.15, 0.04em);

  text-align: center;
  text-transform: uppercase;
  color: $cl-menu-bg;
  @media screen and (max-width: 767px) {
    width: 200px;
  }

  @include tab {
    margin-bottom: 50px;
    @include font-design(Titan One, normal, 400, 48px, 1.14, 0.04em);
  }

  @include pc {
    margin-bottom: 55px;
    @include font-design(Titan One, normal, 400, 58px, 1.14, 0.06em);
  }
}

// .about__product {
//   @include tab {
//     display: flex;
//   }
// }

.management__thumb {
  position: relative;
  width: 100%;
  height: auto;
  background-image: url(/images/management.jpg);
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  @media screen and (max-width: 767px) {
    margin-bottom: 46px;
  }

  @include tab {
    margin-right: 17px;
    // flex-basis: calc((100% - 17px) / 2);
  }

  @include pc {
    margin-right: 74px;
    // flex-basis: calc((100% + 20px) / 2);
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 1052px;
      height: 90px;
      background-color: rgba(0, 62, 81, 0.2);
      bottom: 0;
      left: 0;
    }
  }
}

.management_name {
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-size: 8px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 6px;
  padding-bottom: 6px;

  @include tab {
    font-size: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  @include pc {
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 4px;
  }
}

.management_name_country {
  font-style: italic;
  font-size: 8px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 6px;
  padding-bottom: 6px;

  @include tab {
    font-size: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  @include pc {
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.name_link {
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  color: #ac145a;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #003e51;
    text-shadow: 0px 5px 5px rgba(172, 20, 90, 0.6);
    outline: none;
  }
}

.management_name_thumb {
  display: flex;
  justify-content: space-around;
}
.management__description {
  @include tab {
    padding-top: 50px;
    flex-basis: calc((100% - 17px) / 2);
  }

  @include pc {
    padding-top: 51px;
    padding-bottom: 107px;
    flex-basis: calc((100% - 94px) / 2);
  }
}

.management__list {
  margin-bottom: 17px;

  @include tab {
    margin-bottom: 62px;
  }

  @include pc {
    margin-bottom: 45px;
  }
}

.management__item:not(:last-child) {
  margin-bottom: 30px;

  @include pc {
    margin-bottom: 35px;
  }
}
.management__item:nth-child(2) {
  @media screen and (max-width: 1279px) {
    margin-bottom: 15px;
  }
}

.management__text {
  @include font-design(DM Sans, normal, 500, 12px, 1.62);

  color: $cl-text;

  @include tab {
    @include font-design(DM Sans, normal, 500, 14px, 1.76, 0.04em);
  }
  @include pc {
    @include font-design(DM Sans, normal, 500, 14px, 1.94, 0.04em);
  }
}

.management__text--first {
  color: $cl-h-text;

  @include pc {
    @include font-design(DM Sans, normal, 500, 16px, 1.76, 0.04em);
  }
}

.management__btn {
  padding: 0;
  min-width: 176px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border-radius: 22px;
  border: transparent;
  fill: currentColor;

  background-color: $cl-white-primary;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &-link {
    color: #003e51;
    @include font-design(DM Sans, normal, 700, 14px, 1.29);

    @include tab {
      @include font-design(DM Sans, normal, 700, 16px, 1.31);
      outline: none;
    }
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $cl-hover-bg2;
    text-shadow: 0px 5px 5px rgba(172, 20, 90, 0.6);
    outline: none;
  }
}

.management__btn-icon {
  margin-left: 13px;
}
